body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computerScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    display: flex;
    align-content: center;
    padding: 32px;
}